<div class="container mt-5">
    <h2>Suggestion Page</h2>
    <form (ngSubmit)="onSubmit()">
      <div>
        <p>Fill out your Suggestion Below</p>
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" class="form-control" [(ngModel)]="suggestion.name" name="name" required>
      </div>
      <div class="form-group">
        <label for="subject">Subject</label>
        <input type="text" id="subject" class="form-control" [(ngModel)]="suggestion.subject" name="subject" required>
      </div>
      <div class="form-group">
        <label for="idea">Idea</label>
        <textarea id="idea" class="form-control" [(ngModel)]="suggestion.idea" name="idea" rows="5" required></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Send</button>
    </form>
  </div>
  