<footer class="footer bg-light text-center text-lg-start">
    <div class="container p-4">
      <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase">EasyML</h5>
          <p>
            Your one-stop platform for machine learning models.
          </p>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Quick Links</h5>
          <ul class="list-unstyled mb-0">
            <li>
              <a href="#" class="text-dark">Home</a>
            </li>
            <li>
              <a href="#" class="text-dark">About</a>
            </li>
            <li>
              <a href="#" class="text-dark">Suggestion Page</a>
            </li>
          </ul>
        </div>
  
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Contact</h5>
          <ul class="list-unstyled">
            <li>
              <a href="mailto:support@easyml.com" class="text-dark">support.com</a>
            </li>
            <li>
              <a href="tel:+1234567890" class="text-dark">+1 234 567 890</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="text-center p-3 bg-dark text-white">
      © 2024 EasyML - All Rights Reserved.
    </div>
  </footer>
  